ion-list, ion-item {
  background: var(--ion-color-dark-tint);
  --background: var(--ion-color-dark-tint);
  //box-shadow: 0 0  3px var(--ion-color-light);

  ion-reorder {
    margin: 10px;
  }

  ion-thumbnail {
    height: 100%;
    width: 15%;
  }

  ion-item {
    --padding-end: 0px !important;
    --inner-padding-end: 0px !important;
  }
}

.folder {
  --background: var(--ion-color-dark-tint);
  color: var(--ion-color-dark-contrast);
}

ion-img {
  object-fit: cover;
}

ion-label {
  white-space: normal !important;
}
