<ion-content>
  <ion-item>
    <ion-label color="light">{{ 'tactical-board.load' | translate }}</ion-label>
    <ion-button slot="end" fill="clear" (click)="reorder = !reorder">
      <ion-label>{{ 'tactical-board.reorder' | translate }}</ion-label>
    </ion-button>
  </ion-item>
  <ion-list>
    <ion-reorder-group (ionItemReorder)="reorderGroups($event)" [disabled]="!reorder">
      <ion-item-group *ngFor="let group of elements; let i = index;" >
        <ion-item (click)="groupVisibility[i] = !groupVisibility[i]" class="folder">
          <ion-reorder slot="start">
            <ion-icon [name]="reorder ? 'repeat' : 'folder'"></ion-icon>
          </ion-reorder>
          <ion-icon color="light" name="folder"></ion-icon>
          <ion-label>{{ group[0].folder}}</ion-label>
          <ion-note (click)="deleteGroup(i)">
            <ion-icon name="trash-outline" size="large"></ion-icon>
          </ion-note>
        </ion-item>

        <ion-reorder-group [hidden]="!groupVisibility[i]" (ionItemReorder)="reorderItems($event, i)" [disabled]="!reorder">
          <ion-item color="dark" (click)="select(i, i2)" *ngFor="let element of group; let i2 = index;" class="ion-no-padding">
            <ion-reorder slot="start">
              <ion-icon name="repeat"></ion-icon>
            </ion-reorder>
            <ion-thumbnail *ngIf="element.image" slot="start" class="ion-margin-start">
              <ion-img [src]="element.image"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-padding">{{ element.name }}</ion-label>
            <ion-note (click)="edit(i, i2)">
              <ion-icon name="create-outline" size="large" ></ion-icon>
            </ion-note>
            <ion-note (click)="deleteItem(i, i2)">
              <ion-icon name="trash-outline" size="large" ></ion-icon>
            </ion-note>
          </ion-item>
        </ion-reorder-group>
      </ion-item-group>
    </ion-reorder-group>
  </ion-list>
</ion-content>
