<ion-list lines="full">
  <ion-item (click)="popover.dismiss('screenshot')">
    <ion-icon name="camera" color="light" slot="start"></ion-icon>
    <ion-label>{{ 'tactical-board.' + type +'-screenshot' | translate }}</ion-label>
  </ion-item>
  <ion-item [disabled]="disableAnimationSaving" (click)="popover.dismiss('animation')">
    <ion-icon name="videocam" color="light" slot="start"></ion-icon>
    <ion-label>{{ 'tactical-board.' + type + '-animation' | translate }}</ion-label>
  </ion-item>
</ion-list>
