ion-list {
  background: var(--ion-color-dark-tint);

  ion-item {
    --background: var(--ion-color-dark-tint);
    color: var(--ion-color-dark-contrast);
  }
  ion-label {
    white-space: normal !important;
  }
}
