<ion-header>
  <ion-toolbar>
    <ion-title>{{ "settings.unblock-the-app" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>{{ "settings.features-unblocking-app.remove-ads" | translate }}</li>
    <li>{{ "settings.features-unblocking-app.unlimited-screenshots" | translate }}</li>
    <li>{{ "settings.features-unblocking-app.unlimited-recordings" | translate }}</li>
    <li>{{ "settings.features-unblocking-app.help-development" | translate }}</li>
  </ul>
  <ion-button class="ion-text-center" fill="clear" (click)="order()">{{ 'settings.unlock-full-version' | translate }}</ion-button>
</ion-content>
