ion-toolbar {
  //--background: translucent;
  --background: var(--ion-color-dark-tint) !important;

  ion-title{
    color: var(--ion-color-light);
  }
}

ion-content {
  --background: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-dark-tint));

  li {
    color: var(--ion-color-light);
  }

  ion-button {
    width: 100%;
  }
}
