ion-header, ion-toolbar {
  --min-height: 56px;
  cursor: pointer;
  --background: var(--ion-color-dark-tint);
  background: var(--ion-color-dark-tint);
}

ion-footer {
  margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
  margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
  max-height: 56px;
  --min-height: 56px;
}

#container {
  height: 100% !important;
  width: 100% !important;
  background: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-dark-tint)) !important;
  //background-image: linear-gradient(0deg, var(--ion-color-mediumblueshade), var(--ion-color-mediumblue));
}

#stage {
  cursor: pointer;
}

ion-fab {
  &.top {
    top: 56px;
  }
  &.bottom {
    bottom: 70px;
  }
  width: fit-content;

  ion-fab-list {
    position: relative;
    //margin: auto;
    width: fit-content;
    min-height: auto;
    min-width: fit-content;
    background-color: transparent;
    //box-shadow: 0 0 6px -1px var(--ion-color-light);

    &.right {
      right: var(--ion-safe-area-right);
    }

    &.transparent-background, &.icon-box ion-icon {
      border: 1px solid var(--ion-color-light-tint);
      background: rgba(var(--ion-color-light-rgb), 0.2);
      //box-shadow: 0 0 3px -1px var(--ion-color-dark);
    }

    & ion-icon {
      width: 5vh;
      height: 5vh;
    }

    div {
      height: 5vh;
    }
  }


}
.toolbar {
  background: rgba(var(--ion-color-dark-rgb), 0.1) !important;
  width: 100%;
  margin: auto;
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap;
  border-top: 0.5px dashed rgba(var(--ion-color-light-rgb), 0.2);

  ion-button {
    min-width: 30px;
    height: 30px;
    margin: 3px;
    //border: 1px solid var(--ion-color-dark-tint);

    .button-inner {
      flex-direction: column !important;
    }
    ion-icon {
      margin: 0px;
    }

    ion-label {
      margin: 3px;
    }
  }

  ion-icon {
    color: var(--ion-color-light-shade);
    height: 28px;
    width: 28px;
    margin: 3px;
  }

  ion-label {
    font-size: 0.8rem;
  }
}

ion-icon {
  color: var(--ion-color-light-shade);
  height: 28px;
  width: 28px;
  margin: 3px;
}
