<ion-header>
  <ion-toolbar style="-webkit-app-region: drag">
    <ion-buttons slot="start">
      <ion-button style="-webkit-app-region: no-drag" fill="clear" slot="end" (click)="toggleAnimation()">
        <ion-icon [name]="toggleAnimation ? 'videocam' : 'videocam-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  style="-webkit-app-region: no-drag" fill="clear" slot="end" (click)="save()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
      <ion-button  style="-webkit-app-region: no-drag" fill="clear" slot="end" (click)="load()">
        <ion-icon name="folder" ></ion-icon>
      </ion-button>
      <ion-button  style="-webkit-app-region: no-drag" fill="clear" slot="end" (click)="share()">
        <ion-icon name="share-social" ></ion-icon>
      </ion-button>
      <ion-button  style="-webkit-app-region: no-drag" fill="clear" slot="end" [routerLink]="'settings'">
        <ion-icon name="options-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <div class="toolbar ion-justify-content-around" *ngIf="showAnimationToolbar"
       tooltip [tooltipHtml]="tooltips[currentTooltip]" [active]="activeTooltip" [event]="'press'"
       [duration]="0" [positionV]="'bottom'" [arrow]="true">
    <ng-template *ngIf="recording; then recordingToolbar; else animationToolbar"></ng-template>
    <ng-template #animationToolbar>
      <ion-button fill="clear" class="ion-no-padding">
        <ion-icon name="images-outline" color="light"></ion-icon>
        <ion-label color="light">{{ frame }}</ion-label>
      </ion-button>
      <ion-button fill="clear" color="light" class="ion-no-padding"
                  (click)="saveStep('frame')">
        <ion-icon name="camera-sharp" size="large"></ion-icon>
      </ion-button>
      <ion-button [disabled]="frame < 2 || isPlaying"
                  fill="clear" color="light" class="ion-no-padding"
                  (click)="frameBack()">
        <ion-icon [name]="frame < 2 ? 'play-back-circle-outline' : 'play-back-circle-sharp'" size="large" ></ion-icon>
      </ion-button>
      <ion-button [disabled]="frame === jsonFrames.length - 1 || isPlaying"
                  fill="clear" color="light" class="ion-no-padding"
                  (click)="frameForward()">
        <ion-icon [name]="frame === jsonFrames.length - 1 ? 'play-forward-circle-outline' : 'play-forward-circle-sharp'" size="large"></ion-icon>
      </ion-button>
      <ion-button [disabled]="jsonFrames.length < 2"
                  fill="clear" color="light" class="ion-no-padding"
                  (click)="playAnimation()">
        <ion-icon [name]="(isPaused && !isPlaying) || (isPlaying && !isPaused) ? 'pause-outline' :
      (jsonFrames.length < 2 ? 'play-circle-outline' : 'play-circle-sharp')" size="large"></ion-icon>
      </ion-button>
      <ion-button [disabled]="jsonFrames.length === 0 || isPlaying"
                  fill="clear" color="light" class="ion-no-padding"
                  (click)="clearAnimation()">
        <ion-icon [name]="jsonFrames.length === 0 || isPlaying ? 'stop-circle-outline' : 'stop-circle-sharp'" size="large"></ion-icon>
      </ion-button>
      <ion-button [disabled]="jsonFrames.length === 0" class="ion-no-padding"
                  fill="clear" color="light"
                  (click)="changeTweenDuration()">
        <ion-icon [name]="jsonFrames.length === 0 ? 'speedometer-outline' : 'speedometer-sharp'"></ion-icon>
        <ion-label color="light" style="text-transform:none!important;">{{ tweenDuration }}s</ion-label>
      </ion-button>
    </ng-template>
  <ng-template #recordingToolbar>
    <ion-header >
      <ion-label color="light">{{ 'tactical-board.recording' | translate}}</ion-label>
      <ion-progress-bar color="secondary" value="0.25" buffer="0.5"></ion-progress-bar>
    </ion-header>
  </ng-template>
  </div>
</ion-header>
<ion-content [fullscreen]="false" color="dark">
  <div #container (resized)="onResize($event)" id="container">
    <ko-stage #stage [config]="configStage"  id="stage">
      <ko-layer #layer>
        <ko-image #court [config]="configCourt"></ko-image>
      </ko-layer>
    </ko-stage>
  </div>
</ion-content>
<ion-footer>
  <ion-fab #toggleLineTypesElement horizontal="start" vertical="bottom" [activated]="toggleLineTypes" class="bottom">
    <ion-fab-list side="bottom" class="icon-box" (click)="$event.stopPropagation()">
      <div [(colorPicker)]="lineColor" [cpToggle]="toggleColorPicker"
            [cpPresetColors]="['#fff', '#000', '#00f', '#2dd36f', '#ffff00', '#ff0000']"
            [cpAlphaChannel]="'enabled'" [cpPosition]="'top'"
            [cpPositionRelativeToArrow]="false" [cpUseRootViewContainer]="true"
            [cpColorMode]="'presets'" [cpDialogDisplay]="'popup'"
            [cpSaveClickOutside]="true" [cpCloseClickOutside]="true"
            [cpDisableInput]="true"  (cpSliderChange)="toggleColorPicker = true" (colorPickerChange)="toggleColorPicker = false">
        </div>
      <ion-icon (click)="toggleColorPicker = true"
              name="color-palette-outline" size="large" color="light"></ion-icon>
      <ion-icon src="assets/icon/line.svg" size="large" (click)="lineType = 1" [color]="lineType === 1 ? 'primary' : 'light'"></ion-icon>
      <ion-icon src="assets/icon/dashed-line.svg" size="large" (click)="lineType = 2" [color]="lineType === 2 ? 'primary' : 'light'"></ion-icon>
      <ion-icon src="assets/icon/arrow.svg" size="large" (click)="lineType = 3" [color]="lineType === 3 ? 'primary' : 'light'"></ion-icon>
      <ion-icon src="assets/icon/arrow_dashed.svg" size="large" (click)="lineType = 4" [color]="lineType === 4 ? 'primary' : 'light'"></ion-icon>
      <ion-icon src="assets/icon/double_arrow.svg" size="large" (click)="lineType = 5" [color]="lineType === 5 ? 'primary' : 'light'"></ion-icon>
      <ion-icon src="assets/icon/dashed_double_arrow.svg" size="large" (click)="lineType = 6" [color]="lineType === 6 ? 'primary' : 'light'"></ion-icon>
    </ion-fab-list>
  </ion-fab>

  <ion-fab #toggleTrainingStuffElement horizontal="start" vertical="bottom" [activated]="toggleTrainingStuff" class="bottom">
    <ion-fab-list side="bottom" class="icon-box" (click)="$event.stopPropagation()">
      <ion-icon src="assets/icon/barrier.svg" size="large"
                (click)="addTrainingStuff($event, 'barrier.svg')"
                ></ion-icon>
      <ion-icon src="assets/icon/barrier_single.svg" size="large"
                (click)="addTrainingStuff($event, 'barrier_single.svg')"
                ></ion-icon>
      <ion-icon src="assets/icon/cone.svg" size="large"
                (click)="addTrainingStuff($event, 'cone.svg')"
                ></ion-icon>
      <ion-icon src="assets/icon/mini_cone.svg" size="large"
                (click)="addTrainingStuff($event,'mini_cone.svg')"
                ></ion-icon>
      <ion-icon src="assets/icon/hoop.svg" size="large"
                (click)="addTrainingStuff($event,'hoop.svg')"
                ></ion-icon>
    </ion-fab-list>
  </ion-fab>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button slot="start" fill="clear" color="light" (click)="toggleFab('toggleLineTypes')">
        <ion-icon name="pencil-sharp"></ion-icon>
      </ion-button>
      <ion-button slot="start" fill="clear" [disabled]="!groupDraw?.getStage()?.find('Arrow, Line').length" (click)="clearLines()" color="light">
        <ion-icon src="assets/icon/eraser-tool.svg"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="toggleFab('toggleTrainingStuff')" class="ion-activatable ripple-parent">
        <ion-icon src="assets/icon/cones.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" slot="end" [disabled]="step < 2" (click)="undoStep()" color="light">
        <ion-icon [name]="step < 2 ? 'arrow-undo-outline' : 'arrow-undo-sharp'"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" [disabled]="step === jsonSteps.length " (click)="redoStep()" color="light">
        <ion-icon [name]="step === jsonSteps.length ? 'arrow-redo-outline' : 'arrow-redo-sharp'"></ion-icon>
      </ion-button>
      <ion-button fill="clear" slot="end" (click)="addGroupDraw()" color="light">
        <ion-icon name="refresh-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
