<span [(colorPicker)]="fillColor"
      [cpToggle]="colorPickerToggle"
      [cpPresetColors]="['#fff', '#000', '#00f', '#2dd36f', '#ffff00', '#ff0000']"
      [cpAlphaChannel]="'enabled'"
      [cpOutputFormat]="'rgba'"
      [cpPosition]="'top'"
      [cpPositionRelativeToArrow]="false"
      [cpUseRootViewContainer]="true"
      [cpColorMode]="'presets'"
      [cpDialogDisplay]="'popup'"
      [cpSaveClickOutside]="true"
      [cpCloseClickOutside]="true"
      [cpDisableInput]="true"
      (colorPickerChange)="selectColor($event)">
</span>
<ion-item>
    <ion-icon name="color-palette-outline" (click)="colorPickerToggle = !colorPickerToggle" color="light"></ion-icon>
    <ion-icon [slot]="disableDelete ? 'end' : ''" [class]="'center'" name="refresh-outline" (click)="rotate()" color="light"></ion-icon>
    <ion-icon [hidden]="disableDelete" class="ion-float-end" name="trash-outline" (click)="deleteElement()" color="light"></ion-icon>
</ion-item>
<ion-item>
    <ion-range id="slider" min="0.75" max="1.25" step="0.25" ticks="true" snaps="true" [value]="element.scaleX()" mode="ios" (ionChange)="sizeChange($event)">
            <ion-label slot="start" color="light">{{ 'tactical-board.size' | translate }}</ion-label>
    </ion-range>
</ion-item>
