/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~ionic4-auto-complete/auto-complete";

.saveModal, .orderModal {
  .modal-wrapper {
    width: 50%;
    height: 40%;
    min-width: 300px;
    min-height: 200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--ion-color-light);
    //border: 2px solid var(--ion-color-primary);
  }
}
.loadPopover .popover-wrapper {
  --width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 3px var(--ion-color-light);
}

.color-picker {
  background-image: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-dark-tint));

  .preset-label {
    color: var(--ion-color-light) !important;
  }
}

.alert-wrapper {
  --background: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-dark-tint));
  --ion-text-color: var(--ion-color-light-shade) !important;

  .alert-radio-label {
    color: var(--ion-color-light-shade) !important;
  }
}