ion-content {
  --background: linear-gradient(0deg, var(--ion-color-dark-shade), var(--ion-color-dark)) !important;

  h1 {
    color: var(--ion-color-light)
  }
  ion-item, ion-toolbar, ion-auto-complete {
    color: var(--ion-color-dark-contrast) ;
    border: var(--ion-color-dark) 1px;
    border-style: groove ridge groove ridge;
    background: var(--ion-color-dark-tint) !important;
    --background: var(--ion-color-dark-tint) !important;
  }

  ion-label {
    margin: auto 10px;
  }
  ion-icon {
    color: var(--ion-color-dark-contrast) !important;
  }

  ion-auto-complete {
    width: 100%;
  }
}
