<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    {{ 'tactical-board.save' | translate }}
  </h1>
  <ion-item>
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-input [(ngModel)]="saveName"  [placeholder]="'tactical-board.save-name' | translate" type="text" value="saveName"></ion-input>
  </ion-item>
  <ng-template #folders let-attrs="attrs">
      <ion-icon name="folder"></ion-icon>
      <ion-label>{{ attrs.data }}</ion-label>
  </ng-template>
  <ng-template #empty let-attrs="attrs">
    {{ "tactical-board.create-new-folder" | translate }}
  </ng-template>
  <ion-auto-complete [(ngModel)]="folderName" [dataProvider]="foldersAutocompleteService"
                     [options]="{color: 'var(--ion-color-dark-shade)', searchIcon: 'folder', placeholder: 'tactical-board.folder-name' | translate}"
                     [clearInvalidInput]="false" [styles]="{list: {width: '100%', position: 'initial'},
                     listItem: {background: 'var(--ion-color-dark-tint)', color: 'var(--ion-color-dark-contrast)'}}"
                     [template]="folders" [emptyTemplate]="empty" [showResultsFirst]="true" [maxResults]="4"
  ></ion-auto-complete>`
  <ion-toolbar class="ion-text-center" (click)="save()">
    <ion-button fill="clear" color="primary">
      <ion-label>{{ 'tactical-board.save' | translate}}</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-content>
