ion-toolbar {
  //--background: translucent;
  --background: var(--ion-color-dark-tint) !important;
}

ion-content {
  --background: linear-gradient(0deg, var(--ion-color-dark), var(--ion-color-dark-tint));

  ion-list, ion-item, ion-radio {
    background: transparent;
    --background: transparent;
  }
  ion-img {
    object-fit: contain;
  }
}

