<ion-header>
  <ion-toolbar>
    <ion-title color="light">{{ 'settings.settings' | translate }}</ion-title>
    <ion-button fill="clear" color="light" slot="end" [routerLink]="''">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!this.version.fullVersion.getValue()" color="primary">
    <ion-button (click)="order()" fill="clear" [color]="this.settings.darkTheme ? 'dark' : 'light'">{{ "settings.unlock-full-version" | translate }}</ion-button>
  </ion-item>

  <ion-item *ngIf="!this.version.fullVersion.getValue()" color="primary">
    <ion-button (click)="reloadPurchase()" fill="clear" [color]="this.settings.darkTheme ? 'dark' : 'light'">{{ "settings.reload-purchase" | translate }}</ion-button>
  </ion-item>

  <ion-list>
    <ion-radio-group [ngModel]="this.settings.court" (ionChange)="settingsService.setValue('court', $event.target.value)">
      <ion-list-header>
        <ion-label color="light">{{ 'settings.select-court' | translate }}</ion-label>
      </ion-list-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court1.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court1.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court2.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court2.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court3.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court3.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court4.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court4.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court5.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court5.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court6.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court6.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court7.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court7.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court8.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court8.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court9.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court9.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/image/Handball_court10.png"></ion-img>
              </ion-thumbnail>
              <ion-radio color="light" slot="start" value="Handball_court10.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-radio-group [ngModel]="this.settings.ball" (ionChange)="settingsService.setValue('ball', $event.target.value)">
      <ion-list-header>
        <ion-label color="light">{{ 'settings.select-ball' | translate }}</ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/icon/ball1.png"></ion-img>
              </ion-thumbnail>
              <ion-radio slot="start" color="light" value="ball1.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/icon/ball2.png"></ion-img>
              </ion-thumbnail>
              <ion-radio slot="start" color="light" value="ball2.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/icon/ball3.png"></ion-img>
              </ion-thumbnail>
              <ion-radio slot="start" color="light" value="ball3.png"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-thumbnail>
                <ion-img src="assets/icon/ball4.png"></ion-img>
              </ion-thumbnail>
              <ion-radio slot="start" color="light" value="ball4.png"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </ion-list>

  <ion-item>
    <ion-label color="light">{{ "settings.teamA-color" | translate }}</ion-label>
    <div [colorPicker]="this.settings.teamAColor" (colorPickerChange)="settingsService.setValue('teamAColor', $event)" [cpToggle]="toggleColorPickerA"
         [cpPresetColors]="['#fff', '#000', '#00f', '#2dd36f', '#ffff00', '#ff0000']"
         [cpAlphaChannel]="'enabled'" [cpPosition]="'top-left'"
         [cpPositionRelativeToArrow]="false"
         [cpColorMode]="'presets'" [cpDialogDisplay]="'popup'"
         [cpSaveClickOutside]="true" [cpCloseClickOutside]="true"
         [cpDisableInput]="true" (colorPickerSelect)="toggleColorPickerA = false">
    </div>
    <ion-icon name="square" [ngStyle]="{color: this.settings.teamAColor}" (click)="toggleColorPickerA = !toggleColorPickerA"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label color="light">{{ "settings.teamB-color" | translate }}</ion-label>
    <div [colorPicker]="this.settings.teamBColor" (colorPickerChange)="settingsService.setValue('teamBColor', $event)" [cpToggle]="toggleColorPickerB"
         [cpPresetColors]="['#fff', '#000', '#00f', '#2dd36f', '#ffff00', '#ff0000']"
         [cpAlphaChannel]="'disabled'" [cpPosition]="'top-left'"
         [cpPositionRelativeToArrow]="false"
         [cpColorMode]="'presets'" [cpDialogDisplay]="'popup'"
         [cpSaveClickOutside]="true" [cpCloseClickOutside]="true"
         [cpDisableInput]="true" (colorPickerSelect)="toggleColorPickerB = false">
    </div>
    <ion-icon name="square" [ngStyle]="{color: this.settings.teamBColor}" (click)="toggleColorPickerB = !toggleColorPickerB"></ion-icon>
  </ion-item>

  <ion-item lines="inset">
    <ion-range color="light" [ngModel]="this.settings.elementsScale"  (ionChange)="settingsService.setValue('elementsScale', $event.target.value)"min="0.75" max="1.25" step="0.25" ticks="true" snaps="true"
               mode="ios" class="ion-no-padding">
      <ion-label slot="start" color="light">{{ "settings.size-of-elements" | translate }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-item lines="inset">
    <ion-label color="light">{{ "settings.tween-easing" | translate }}</ion-label>
    <ion-select [ngStyle]="{color: 'var(--ion-color-light)'}" [ngModel]="this.settings.easing" (ionChange)="settingsService.setValue('easing', $event.target.value)">
      <ion-select-option value="Linear">{{ "settings.linear" | translate }}</ion-select-option>
      <ion-select-option value="EaseIn">{{ "settings.easeIn" | translate }}</ion-select-option>
      <ion-select-option value="EaseOut">{{ "settings.easeOut" | translate }}</ion-select-option>
      <ion-select-option value="EaseInOut">{{ "settings.easeInOut" | translate }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="light">{{ "settings.dark-theme" | translate }}</ion-label>
    <ion-toggle  [ngModel]="this.settings.darkTheme" (ionChange)="settingsService.setValue('darkTheme', $event.detail.checked)"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label color="light">{{ "settings.show-tutorial" | translate }}</ion-label>
    <ion-checkbox [ngModel]="this.settings.showTutorial" (ionChange)="settingsService.setValue('showTutorial', $event.target.checked)"></ion-checkbox>
  </ion-item>

</ion-content>
